header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

#logo {
    flex: 1;

}

#logo a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#menu {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 25px;
}

#acoes {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#menu a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.botao {
    padding: 10px 20px;
    background: #5a0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: rgb(0, 73, 138);
}